<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>

 	<!-- Categories go here -->
 	<extension point="org.knime.workbench.repository.categories">
    	<category 
      		description="Category containing nodes for imzML data analysis" 
      		icon="icons/msk_logo-1.png" 
      		level-id="Mass_Spectrometry_Nodes" 
      		name="Mass Spect In Knime" 
      		path="/"/>
    	<category icon="icons/orange_folder.png" 
      		level-id="read" 
      		name="Reader (imzML)" 
      		path="/Mass_Spectrometry_Nodes"/>	
		<category 
	  		after="read" 
	  		icon="icons/orange_folder.png" 
	 		level-id="preprocess" 
	 		name="Preprocessing" 
	 		path="/Mass_Spectrometry_Nodes"/>	
		<category 
	  		after="postprocess" 
	  		icon="icons/orange_folder.png" 
	  		level-id="view" 
	  		name="Views" 
	  		path="/Mass_Spectrometry_Nodes"/>
		<category
	  		after="preprocess"
	  		icon="icons/orange_folder.png"
	  		level-id="postprocess"
	  		name="Postprocessing"
	  		path="/Mass_Spectrometry_Nodes"/> 
		<category 
	  		after="view" 
	  		icon="icons/orange_folder.png" 
	  		level-id="utilNodes" 
	  		name="Utility" 
	  		path="/Mass_Spectrometry_Nodes"/>
		<category
	  		after="utilNodes"
	  		icon="icons/orange_folder.png"
	  		level-id="deprecated"
	  		name="Deprecated"
	  		path="/Mass_Spectrometry_Nodes"/>
  	</extension>  
    
  	<!-- Nodes go here -->
  	<extension point="org.knime.workbench.repository.nodes">
    	<node 
      		category-path="Mass_Spectrometry_Nodes/deprecated"
      		deprecated="false"
      		factory-class="msk.deprecated.node.read.imzML.meta.data.ImzMLBasicInfoNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/deprecated" 
      		deprecated="false"
      		factory-class="msk.deprecated.node.read.imzML.full.col.ImzMLReaderColumnSpectrumNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/read" 
      		deprecated="false"
      		factory-class="msk.node.read.imzML.full.rowSpec.ImzMLReaderRowSpectrumNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/read" 
      		deprecated="false"
      		factory-class="msk.node.read.imzML.loop.rowSpec.ImzMLChunkReaderRowSpectrumNodeFactory"/>   
    	<node 
      		category-path="Mass_Spectrometry_Nodes/deprecated" 
      		deprecated="false"
      		factory-class="msk.deprecated.node.read.imzML.loop.col.ImzMLChunkReaderColSpectrumNodeFactory"/>  
    	<node 
      		category-path="Mass_Spectrometry_Nodes/deprecated" 
      		deprecated="false"
      		factory-class="msk.deprecated.node.read.imzML.loop.image.IonImageLoopStartNodeFactory"/>   
    	<node 
      		category-path="Mass_Spectrometry_Nodes/preprocess" 
      		deprecated="false"
      		factory-class="msk.node.pre.spec.mzLimit.LimitMZNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/preprocess" 
      		deprecated="false"
      		factory-class="msk.node.pre.spec.roi.ROINodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/preprocess" 
      		deprecated="false"
      		factory-class="msk.node.pre.spec.smooth.SmootherNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/preprocess" 
      		deprecated="false"
      		factory-class="msk.node.pre.spec.rebin.RebinnerNodeFactory"/>
    	<node 
     		category-path="Mass_Spectrometry_Nodes/preprocess" 
      		deprecated="false"
      		factory-class="msk.node.pre.spec.baseline.BaselineNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/preprocess"
      		deprecated="false" 
      		factory-class="msk.node.pre.spec.normalize.NormalizationNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/view" 
      		deprecated="false"
      		factory-class="msk.node.viz.spectrum.jpeg.SpectrumJPEGNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/utilNodes" 
      		deprecated="false"
      		factory-class="msk.node.util.combiner.CombinerNodeFactory"/>
    	<node 
      		category-path="Mass_Spectrometry_Nodes/view" 
      		deprecated="false"
      		factory-class="msk.node.viz.spectrum.single.SpectrumViewNodeFactory"/>
   		<node 
   	  		category-path="Mass_Spectrometry_Nodes/view" 
   	  		deprecated="false"
   	  		factory-class="msk.node.viz.spectrum.compare.SpectrumCmpViewNodeFactory"/>
   		<node
   	  		category-path="Mass_Spectrometry_Nodes/view"
   	  		deprecated="false"
   	  		factory-class="msk.node.viz.image.MZViewerNodeFactory"/>
   		<node
   	  		category-path="Mass_Spectrometry_Nodes/postprocess"
   	  		deprecated="false"
   	  		factory-class="msk.node.post.cluster.som.SOMNodeFactory"/>
   		<node
   	  		category-path="Mass_Spectrometry_Nodes/postprocess"
   	  		deprecated="false"
   	  		factory-class="msk.node.post.cluster.normCuts.NormalizedCutsNodeFactory"/>
   	  	<node
   	  		category-path="Mass_Spectrometry_Nodes/postprocess"
   	  		deprecated="false"
   	  		factory-class="msk.node.post.cluster.normCuts.image.NormalizedCutsImageNodeFactory"/>
   	  	<node
   	  		category-path="Mass_Spectrometry_Nodes/view"
   	  		deprecated="false"
   	  		factory-class="msk.node.viz.clusterViewer.ClusterViewerNodeFactory"/>
   	  	<node
   	  		category-path="Mass_Spectrometry_Nodes/view"
   	  		deprecated="false"
   	  		factory-class="msk.node.viz.spectrum.meanbp.MeanBasepeakSpectrumNodeFactory"/>
   	  	<node
   	  		category-path="Mass_Spectrometry_Nodes/read"
   	  		deprecated="false"
   	  		factory-class="msk.node.read.imzML.loop.processed.ImzMLProcessedLoopStartNodeFactory"/>
   	  	<node
   	  		category-path="Mass_Spectrometry_Nodes/deprecated"
   	  		deprecated="false"
   	  		factory-class="msk.buildfakeimzml.BuildFakeImzMLNodeFactory"/>
  	</extension> 
</plugin>
